/* adding fonts */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styles */
.displayFlex {
    display: flex;
}

.bgColor {
    background-color: rgba(255, 144, 14, 0.1);
}

.btnPrimary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    border-radius: 8px;
    font-weight: 600;
}

/* Header styles */

/* nav styles */
.brandName {
    color: rgb(19, 19, 19);
    font-size: 2rem;
    font-weight: 700;
}

.navLink {
    color: rgb(66, 66, 66);
    font-size: 1rem;
    font-weight: 500;
}

.navBar {
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    gap: 30px;
}

.navItem {
    list-style: none;
}

.navLink {
    color: black;
    text-decoration: none;
}

.navBar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.bannerContent{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.bannerTitle{
    font-weight: 700;
    font-size: 4rem;
}
.bannerDescription{
    color: rgb(114, 114, 114);
    font-weight: 400;
    font-size: 1rem;
}